{% extends 'contabilidad/reportes/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="modal fade" id="seleccionarProducto" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="seleccionarProductoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title text-light" id="seleccionarProductoLabel">Seleccione el producto</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark-app">
                    <form method="post" autocomplete="off">
                        <div class="form-group input-group input-group-sm">
                            <input type="hidden" id="id_producto" name="id_producto">
                            <input type="hidden" id="tipo" name="tipo">

                            <div class="row mt-0">
                                <div class="col-12 m-0">
                                    <label for="select_unidades">Unidades</label>
                                    <select name="id_unidad" id="select_unidades" class="w-100 form-control"
                                            readonly="false">
                                        {% for item in unidades %}
                                            <option value={{ item.id }}> {{ item.codigo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-12">
                                    <label for="codigo">Código</label>
                                    <input type="text" name="codigo" id="codigo"
                                           placeholder="Introduzca el código del producto y presione la tecla Enter para buscar"
                                           class="w-100 form-control">
                                </div>
                                <div class="col-10 mt-0 pr-0">
                                    <label for="descripcion" class="mt-3">Descripción</label>
                                    <input type="text" name="descripcion" id="descripcion"
                                           placeholder="Descripción del producto" class="w-100 form-control">
                                </div>
                                <div class="col-2 mt-5 pl-0 ml-0">
                                    <button style="height: 40px !important;" class="my-0 btn btn-secondary w-100"
                                            onclick="llenarSelect()"
                                            type="button" id="btnSearch"><i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <div class="col-12 mt-3" id="busqueda">
                                    <label for="select_productos">Productos del almacén</label>
                                    <select name="codigos" id="select_productos" class="w-100 form-control"
                                            readonly="false"></select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex mt-4">
                        <div class="mr-auto">
                            <a class="btn btn-outline-secondary text-white" type="button"
                               aria-label="Cerrar" data-dismiss="modal">
                                <span aria-hidden="true">Salir</span>
                            </a>
                        </div>
                        <div class="ml-2">
                            <button class="my-0 btn btn-secondary" onclick="PrintSubmayor()"
                                    id="btnAceptarPrintSubmayor">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#busqueda').hide()
        let data_select = [];
        function PrintSubmayor() {
            if ($('#codigo').val() != '' && $('#descripcion').val() != '') {
                let url = '/contabilidad/reportes/inventario-submayor-productos/print/' + $('#id_producto').val()+'->'+$('#tipo').val()
                window.open(url, 'blank_')
            } else
                alertTemplate('Introducir el código del producto a buscar', 'danger')
        }

        $('#select_unidades').on('change',function () {
            $('#codigo').val('')
            $('#descripcion').val('')
            $('#select_productos').find('option').remove()
            $('#select_productos').prepend('<option selected = "false" value = "0" disabled>--Seleccione--</option>');

        })

        function llenarSelect() {
            $('#codigo').val('')
            $('#select_productos').find('option').remove()
            $('#select_productos').prepend('<option selected = "false" value = "0" disabled>--Seleccione--</option>');
            let desc = $('#descripcion').val()
            if (desc == '') {
                $('#busqueda').hide()
                alertTemplate('Debe introducir la descripción del producto a buscar', 'danger')
            } else {
                miniLoadin.show({msg: 'Cargando...', target: '#busqueda'})
                $('#busqueda').show()
                desc = desc+'->'+$('#select_unidades').val()
                $.ajax({
                    url: '/contabilidad/reportes/inventario-submayor-productos/getProductosByDesc/' + desc,
                    method: 'POST',
                    dataType: 'json',
                    success: function (result) {
                        $('#select_productos').find('option').remove()
                        $('#select_productos').prepend('<option selected = "false" value = "0" disabled>--Seleccione--</option>');
                        data_select = result.data
                        $(result.data).each(function (pos, valor) {
                            $('#select_productos').append('<option value = "' + valor.id + '">' + valor.producto + ' (' + valor.almacen + ')</option>');
                        })
                        console.info(data_select)
                        miniLoadin.close()
                    },
                    error: function () {
                        loadingModal.close()
                    }
                })
            }
        }

        $('#select_productos').on('change', function () {
            let texto = $('#select_productos option:selected').text().split('(');
            let arr_data = texto[0].split(' - ')
            $('#codigo').val(arr_data[0])
            $('#descripcion').val(arr_data[1])
            $('#id_producto').val($('#select_productos').val())
            let index = $('#select_productos option:selected').index()
            $('#tipo').val(data_select[index].tipo)
        })

        $(document).ready(function () {
            $('#seleccionarProducto').modal('show')
        })
        $('#codigo').on('keyup', function (e) {
            if (e.which == 13) {
                let codigo = $('#codigo').val()
                if (codigo != '') {
                    miniLoadin.show({msg: 'Cargando...', target: '#busqueda'})
                    $('#busqueda').show()
                    codigo = codigo+'->'+$('#select_unidades').val()
                    $.ajax({
                        url: '/contabilidad/reportes/inventario-submayor-productos/getProducto/' + codigo,
                        method: 'POST',
                        dataType: 'json',
                        success: function (result) {
                            $('#select_productos').find('option').remove()
                            $('#select_productos').prepend('<option selected = "false" value = "0" disabled>--Seleccione--</option>');

                            $(result.data).each(function (pos, valor) {
                                $('#select_productos').append('<option value = "' + valor.id + '">' + valor.producto + ' (' + valor.almacen + ')</option>');
                            })
                            data_select = result.data
                            miniLoadin.close()
                        },
                        error: function () {
                            loadingModal.close()

                        }
                    })
                } else {
                    alertTemplate('El campo código no debe estar vacio.', 'danger')
                }
            } else {
                $('#descripcion').val('')
            }
        })

    </script>
{% endblock %}