{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST'}}) }}

    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_nombre" class="font-weight-bold">Nombre</label>
        {{ form_widget(form.nombre,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="unidad_id_padre" class="font-weight-bold">Subordinada a</label>
        {{ form_widget(form.id_padre,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <input type="text" id="id_unidad" hidden>
    {{ form_end(form) }}

{% endblock %}