{% extends 'base.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="modal fade" id="selecionarAlmacen" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="seleccionarAlmacenLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title text-light" id="seleccionarAlmacenLabel">Seleccine el almacén</h4>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark-app">
                    <div class="form-group input-group input-group-sm">
                        <select name="almacenes_select" id="almacenes_select" class="form-control">
                            {% for item in almacenes %}
                                <option value="{{ item.id }}">{{ item.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex mt-4">
                        <div class="mr-auto">
                            <button class="btn btn-outline-secondary" type="button" data-dismiss="modal"
                                    aria-label="Cerrar">
                                <span aria-hidden="true">Cancelar</span>
                            </button>
                        </div>
                        <div class="ml-2">
                            <button type="button" class="my-0 btn btn-secondary" id="btnAceptar">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#selecionarAlmacen').modal('show')
        })
        console.log()
        $('#btnAceptar').on('click', function () {
            $.ajax({
                url: '/contabilidad/inventario/seleccionarAlmacen',
                method: "POST",
                data: {
                    id_almacen: $('#almacenes_select').val(),
                    name_almacen: $('#almacenes_select option:selected').text()
                }
            }).then(res => {
                window.location.replace('/contabilidad/inventario');
            })
        })
    </script>
{% endblock %}