{% extends('contabilidad/inventario/print_base.html.twig') %}
{% block title %} {{ title}} {% endblock %}
{% block body %}
    <div class="container-fluid mt-3 d-flex flex-column" style="height: 1000px;">
        <table border="1">
            <td>
                <tr>
                    <h2 class="text-center text-danger">{{ message }}</h2>
                </tr>
            </td>
        </table>
    </div>
{% endblock %}
