{% extends 'base.html.twig' %}

{% block content %}

	{% include 'breadcrumbs.html.twig' %}

    <h1 class="text-reporte">Configuracion Turismo</h1>

<section class="section novi-background  section-md-66">
	<div class="container">
		<h3 style="color: white;text-align: center;">Configuracion Vuelo</h3>
		<div class="row">
			<div
				class="col-md-6">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/vuelo/origen/">
					<div>
						<h3>Origen</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
							<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
			<div
				class="col-md-6 offset-top-30 offset-md-top-0">
				<!-- Vacation-->
				<a class="post-vacation text-left"  href="/turismo/vuelo/destino/">
					<div>
						<h3>Destino</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
							<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
							
						</ul>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>


<section class="section novi-background  section-md-20">
	<div class="container">
		<h3 style="color: white;text-align: center;">Configuracion Hotel</h3>
		<div class="row">
			<div
				class="col-md-6">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/hotel/origen/">
					<div>
						<h3>Nombre Del Hotel</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
						<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
			<div
				class="col-md-6 offset-top-30 offset-md-top-0">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/hotel/destino/">
					<div>
						<h3>Destino</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
							<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="section novi-background  section-md-20">
	<div class="container">
		<h3 style="color: white;text-align: center;">Configuracion Transfer</h3>
		<div class="row">
			<div
				class="col-md-6">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/transfer/origen/">
					<div>
						<h3>Origen</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
						<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
			<div
				class="col-md-6 offset-top-30 offset-md-top-0">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/transfer/destino/">
					<div>
						<h3>Destino</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
							<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>


<section class="section novi-background  section-md-20">
	<div class="container">
		<h3 style="color: white;text-align: center;">Configuracion Tour</h3>
		<div class="row">
			<div
				class="col-md-12">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/tour/">
					<div>
						<h3>Tipo De Tour</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
							<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
		
		</div>
	</div>
</section>

<section class="section novi-background  section-md-20">
	<div class="container">
		<h3 style="color: white;text-align: center;">Configuracion Renta de Autos</h3>
		<div class="row">
			<div
				class="col-md-6">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/rent/recogida/">
					<div>
						<h3>Lugar de Recogida</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
						<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
			<div
				class="col-md-6 offset-top-30 offset-md-top-0">
				<!-- Vacation-->
				<a class="post-vacation text-left" href="/turismo/rent/entrega/">
					<div>
						<h3>Lugar de Entrega</h3>
					</div>
					<div class="post-meta offset-top-10">
						<ul class="list-inline list-inline-sm p">
						<li class="list-inline-item">
								<span class="novi-icon fa fa-cog text-middle icon-xxs  text-picton-blue"></span>
								<span class="text-middle small text-dark">Configuracion</span>
							</li>
						</ul>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
  
      {% endblock %}

      {% block javascripts %}
{{parent()}}

<script>



</script>

   {% endblock %}
