{% extends 'base.html.twig' %}
 {% block content %}
     {#<html class="wide wow-animation scrollTo" lang="en">#}

     <div id='error' class="alert alert-danger row justify-content-md-center text-center" role="alert"
          style="display: none;">
         <p id='mensaje'>El cliente debe tener un número de teléfono valido </p>
     </div>
 {% endblock %}
