.height-content {
    min-height: 87vh !important;
}

.title-table {
    font-size: 2.4rem;
    padding: .5rem 0;
}

.toasts-alert {
    position: fixed;
    width: fit-content;
    transition: .5s;
    z-index: 1080;
    top: 4.9rem;
    right: 2rem;
    border-width: 1px;
    border-color: currentColor;
}

.transition-right {
    right: -105vw;
}

.overflow-hidden-x-content {
    overflow-x: hidden;
}

.invalid-label {
    padding-left: 1rem;
    color: red;
}

body {
    --bg-nabvar: #343a40
}

.nabvar-navegation {
    background: var(--bg-nabvar) !important;
}

.nabvar-navegation > a {
    color: white !important;
}

.nabvar-navegation li > a {
    color: white !important;
}

/*********************** redefinicion de stilos ****************************/

.table-hover tbody tr:hover {
    color: var(--light);
    background-color: rgba(0, 0, 0, .075);
}

.input-group.input-group-sm .form-control {
    height: 31px !important;
}

input#from {
    margin-right: 10px;
}

input#to {

    margin-right: 10px;
}

select#estado {
    margin-right: 10px;
}


select#empleado {
    margin-right: 10px;
}

input#telefono {
    margin-right: 10px;
}

.input-group .form-control {
    height: auto;
    color: #ffffff;
    background: #2f2f2f !important;
    border: 1px solid #ffffff80 !important;
}

.custom-select {
    color: #ffffff;
    background: #2f2f2f !important;
    border: 1px solid #ffffff80 !important;
}

.width-100 {
    width: 100% !important;
}

.input-group .form-control {
    height: auto;
    color: #ffffff !important;
    background: #ffffff;
}

/* ------ RWD -------- */
@media (max-width: 480px) {
    .overflow-hidden-x-content {
        overflow-x: auto;
    }
}
