{% extends 'base.html.twig' %}

{% block content %}
	{% set total = null %}
	{% include 'breadcrumbs.html.twig' %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<section class="section novi-background section-66 section-sm-bottom-110">
		<div class="container">
			<h1 class="text-reporte">Formulario de cotizacion factura</h1>
			<hr class="divider bg-mantis">

			<form action="/factura/cotizacion/form/datos/" method="POST">
				<div id="contenedorForm" class="input-group input-group-sm">
					<div class="col">
						<label style="color: white;" for="descripcion">Descripci贸n</label>
						<textarea class="form-control" name="descripcion0" id="descripcion0" placeholder="Descripci贸n del producto">
							
						</textarea>
					</div>

					<div class="col">
						<label style="color: white;" for="cantidad">Cantidad</label>
						<input type="text" class="form-control" name="catidad0" id="cantidad0" placeholder="Cantidad del producto">

					</div>

					<div class="col">
						<label style='color: white;' for="precio">Precio</label>
						<input type="text" class="form-control" name="precio0" id="precio0" placeholder="Precio">

					</div>

					<div class="col">
						<button id="boton" type="button" style="float:left ;margin-top: 35px; color: #fff;" class="btn btn btn-default btn-icon btn-icon-right">
							<span class="icon novi-icon fa fa-plus-square"></span>
						</button>
						<button type="button" id="enviar"  style="float:left ;margin-left: 25px; margin-top: 35px; color: #fff;border: 1px solid;" class="btn btn btn-default btn-icon btn-icon-right"><span class="icon novi-icon mdi mdi-file-send"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
					</div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script>

var contador = 0;
var tope = 0;

		$(document).ready(function () {


$("#boton").click(function () {
contador++;

$("#contenedorForm").append("<div id='contenedorForm' class='input-group input-group-sm'><div class='col'><label style='color: white;' for='descripcion'>Descripci贸n</label><textarea class='form-control' name='descripcion"+contador+"'"+" id='descripcion"+contador+"'"+" placeholder='Descripci贸n del producto'></textarea></div><div class='col'><label style='color: white;' for='descripcion'>Cantidad</label><input type='text' class='form-control' name='catidad"+contador+"'"+" id='cantidad"+contador+"'"+" placeholder='Cantidad del producto'></div><div class='col'><label style='color: white;' for='comprobanteFiscal'>Precio</label><input type='text' class='form-control' name='precio"+contador+"'"+" id='precio"+contador+"'"+" placeholder='Precio'></div></div>");
});
});

$( "#enviar" ).click(function() {
 
 var data = []
 while (tope <= contador) {

data['descripcion'+contador]

tope++;
}



});



	</script>
{% endblock %}
