{% extends 'base.html.twig' %}

{% block content %}
	{% set total = null %}
	{% include 'breadcrumbs.html.twig' %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<section class="section novi-background section-66 section-sm-bottom-110">
		<div class="container">
			<h1 class="text-reporte">Formulario de cotizacion factura</h1>
			<hr class="divider bg-mantis">

            <form action="/factura/cotizacion/form/datos/" method="POST">
  <div class="form-group">
    <label style="color:white;" for="comprobanteFiscal">Numero Comprobante </label>
    <input type="text" class="form-control" name="comprobanteFiscal" id="comprobanteFiscal" aria-describedby="emailHelp" placeholder="Numero Comprobante fiscal">
    <small id="textoComprobante" class="form-text text-muted">Numero de factura cotizacion o comprobante fiscal</small>
  </div>

  <div class="form-group">
    <label  style="color:white;" for="tipoDocumento">Tipo de documento</label>
<select name="tipoDocumento" id="tipoDocumento"  class="form-control">
  <option value="Factura">Factura</option>
  <option value="cotización">cotización</option>
 
</select>
     <small id="textoTipoDocumento" class="form-text text-muted">Cotizacion o Factura</small>
  </div>

   <div class="form-group">
    <label  style="color:white;" for="moneda">Moneda</label>
<select name="moneda" id="moneda"  class="form-control">
  <option value="RD">RD</option>
  <option value="USD">USD</option>
  <option value="CUC">CUC</option>
 
</select>
     <small id="moneda" class="form-text text-muted">Moneda</small>
  </div>

   <div class="form-group">
    <label  style="color:white;" for="impuesto">Impuesto</label>
<select name="impuesto" id="impuesto"  class="form-control">
  <option value="%">Porciento %</option>
  <option value="fijo">Total Fijo</option>

</select>
     <small id="impuesto" class="form-text text-muted">Seleccione el calclo del impuesto</small>
  </div>

    <div class="form-group">
    <label  style="color:white;" for="impuestoValor">Impuesto valor</label>
    <input type="text" class="form-control" name="impuestoValor" id="impuestoValor" placeholder="Impuesto valor">
    <small id="textoComprobante" class="form-text text-muted">Solo se tomara en cuenta si el impuesto esta en (Total fijo)</small>
  </div>

  <button type="submit" class="btn btn-primary">Continuar</button>
</form>
		</div>
        </section>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>


 </script>
{% endblock %}
