{% extends 'contabilidad/inventario/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="modal fade" id="cerrarDia" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false"
         aria-labelledby="cerrarDiaLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="confirm_title">!Notificación</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm_body">
                    El Almacén ya se encuentra cerrado.
                </div>
                <form id="form_confirm_modal" method="post" action="{{ path('contabilidad_inventario_cerrar_dia_cerrar') }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input id="_token_confirm_modal" type="hidden" name="_token" value="123...">
                    <div class="modal-footer">
                        <button type="button" class="my-0 mr-auto btn btn-secondary" data-dismiss="modal">Aceptar
                        </button>
                        <button type="submit" class="my-0 btn btn-outline-secondary" id="confirm_btn_ok">Ver comprobante de operaciones</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#cerrarDia').modal('show')
        })


    </script>
{% endblock %}