{% extends 'utils/modal_form.html.twig' %}

{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST','autocomplete':"off"}}) }}
    <div class="form-group input-group input-group-sm d-block">
        <label for="criterio_analisis_nombre" class="font-weight-bold">Nombre</label>
        {{ form_widget(form.nombre,{'attr': {'class': 'form-control w-100','id':'nombre_field'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="criterio_analisis_abreviatura" class="font-weight-bold">Abreviatura</label>
        {{ form_widget(form.abreviatura,{'attr': {'class': 'form-control w-100','id':'abreviatura_field'}}) }}
    </div>
    <input type="text" id="id_criterio_analisis" hidden>
    {{ form_end(form) }}
{% endblock %}