
{# -------------- Modal Confirm ---------------------#}
<div class="modal fade" id="confirm__modal" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="confirm__modal__title"><i class="fa fa-trash text-light"></i>
                    Eliminar...</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirm__modal__body">
                Seguro que desea eliminar ?
            </div>
            <form id="form__confirm__modal" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input id="_token__confirm__modal" type="hidden" name="_token" value="123...">
            </form>
            <div class="modal-footer">
                <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                </button>
                <button type="button" class="my-0 btn btn-danger" id="confirm__modal__btn_ok"><i
                            class="fa fa-trash"></i>Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

{# ------------- modal loading ----------------- #}

<div class="modal show fade bg-loading-modal" style="z-index: 2000" id="loading-modal" data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <span class="spinner-border text-primary" role="status" aria-hidden="true"></span>
        <span class="text-primary ml-2" id="loading-modal-msg"> Loading...</span>
    </div>
</div>