{% for message in app.flashes('success') %}
    <div class="toasts-alert alert alert-success fade show" role="alert"
         id="alert__success">
        <i class="fa fa-check-circle-o pr-2"></i>
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="ml-2">&times;</span>
        </button>
    </div>
{% endfor %}

{# ............. Toasts error ...............#}

{% for message in app.flashes('error') %}
    <div class="toasts-alert alert alert-danger fade show" role="alert"
         id="alert__success">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="ml-2 text-white">&times;</span>
        </button>
    </div>
{% endfor %}