<div>
    {{ form_start(form_unidades, {attr:{ class: 'd-flex' }} ) }}
    {{ form_widget(form_unidades.__selected__unidad, {attr:{ style: 'height: 38px; width: 250px;' }}) }}
    <button class="btn btn-primary btn-sm mr-5">
        <i class="fa fa-search"></i>
    </button>
    {{ form_end(form_unidades) }}

</div>