<div>
    <form action="" method="post">
        <select name="__selected__unidad" id="selected_unidad_id">
            <option value="15444">hola</option>
        </select>
        <button>
            <i class="fa fa-search"></i>
        </button>
    </form>
</div>