{% extends 'base.html.twig' %}

{% block content %}
	{% include 'breadcrumbs.html.twig' %}
	<!-- Section Input Groups-->
	<section class="section novi-background section-50">
		<div class="container ">
			<div class="card-header text-center">
				<h1>Monto a cobrar</h1>
			</div>
			<div class="row justify-content-md-center text-left ">
				<div class="col-md-7 col-lg-5 card ">
					<div id="messageBox" style="display: none;  text-align: center;" class="alert alert-danger" role="alert"></div>
					<form id="payment-form" name='payment-form' action="{{ path('select', {'tel': tel}) }}" method="POST">

						<div class="card-header text-center texto-cobrar">Facturar a :
							{{nombre}}
							{{apellido}}</div>

						<div class="form-group">
							<div class="input-group input-group-sm justify-content-md-center">
								<span class="input-group-prepend">
									<span class="input-group-text input-group-icon">
										<span class="novi-icon mdi mdi-square-inc-cash"></span>
									</span>
								</span>
								<input autocomplete="off" name='monto' type="text" id="monto" placeholder="0.00" required/>
								<button class="btn btn-sm btn-outline-dark" type="submit">Procesar</button>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>{% endblock %}{% block javascripts %}
{{parent()}}

<script>


	$("#payment-form").validate({
errorLabelContainer: "#messageBox",
wrapper: "li",
rules: {
'monto': {
required: true,
minlength: 1,
min: 1
},"filtros[]": {required: true}

},

messages: {
'monto': {
required: "Monto Requerido",
minlength: "Minimo 1 US$",
min: "Minimo $ 1.00"
}, 'filtros[]'
}

});


$('#monto').on('input', function () {
this.value = this.value.replace(/[^0-9-.]/g, '');
});

let Checked = null;
//The class name can vary
for (let CheckBox of document.getElementsByClassName('check')){
	CheckBox.onclick = function(){
  	if(Checked!=null){
      Checked.checked = false;
      Checked = CheckBox;
    }
    Checked = CheckBox;
  }
}

</script>{% endblock %}
