<!-- Call to action type 2-->
            <section style="padding:25px;" class="section novi-background section-66 context-dark bg-dark">
              <div class="container">

              <div class="row"> 

              <div class="col-lg-8" style="text-align: left !important;">
              
                <div style=" min-height: 34px; margin-left: 80px;">
                 <span class="novi-icon fa fa-shopping-cart icon-sm text-carrot"></span>  
              
                  <span style="font-size: x-large; margin: 10px; color:#00b4cd;"> $ 50.00 </span>
                  </div> 

              </div>

            <div class="col-lg-1">  
               <span class="novi-icon mdi mdi-headset icon-sm logo-azul"></span> 
            </div>

            <div class="col-lg-1"> 
               <span class="novi-icon fa fa-bell icon-sm logo-azul"></span> 
            </div>

            <div class="col-lg-1">
              <span class="novi-icon fa fa-user icon-sm logo-azul"></span> 
            </div>

              </div>
            
            </div>
            </section>

      
    