<li>
    <a href="#"><span>Contabilidad</span>
    <span class="rd-navbar-label text-middle label-custom label-xs-custom label-rounded-custom label label-success">New</span>
    </a>
    <ul class="rd-navbar-dropdown">
    <li>
        <a href="{{ url ('config') }}">
        <span class="text-middle">► Configuración</span>
        <span class="rd-navbar-label label-custom label-xs-custom label-rounded-custom label label-warning">DEV</span>
        </a>
    </li>
    <li>
        <a href="#">
        <span class="text-middle">► Inventario</span>
        <span class="rd-navbar-label label-custom label-xs-custom label-rounded-custom label label-danger">AWAIT</span>
        </a>
    </li>
    <li>
        <a href="#">
        <span class="text-middle">► Venta</span>
        <span class="rd-navbar-label label-custom label-xs-custom label-rounded-custom label label-danger">AWAIT</span>
        </a>
    </li>
    <li>
        <a href="#">
        <span class="text-middle">► Activo Fijo</span>
        <span class="rd-navbar-label label-custom label-xs-custom label-rounded-custom label label-danger">AWAIT</span>
        </a>
    </li>
    <li>
        <a href="#">
        <span class="text-middle">► Capital Humano</span>
        <span class="rd-navbar-label label-custom label-xs-custom label-rounded-custom label label-danger">AWAIT</span>
        </a>
    </li>
    <li>
        <a href="#">
        <span class="text-middle">► General</span>
        <span class="rd-navbar-label label-custom label-xs-custom label-rounded-custom label label-danger">AWAIT</span>
        </a>
    </li>
    </ul>
</li>