 <!-- Default footer-->
 <footer class="section novi-background section-relative section-top-20 section-bottom-20 page-footer bg-black context-dark">
       
  <div class="container ">
    <p class="small text-light">Grupo SOLYAG &copy; <span class="copyright-year"></span> . Todos los derechos reservados.
    </p>
  </div>
</footer>
</div>
</div>
<!-- Global RD Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<script src="{{ asset('js/core.min.js') }}"></script>
<script src="{{ asset('js/script.js')}}"></script>
<script src="{{ asset('js/revolution.min.js' )}}"></script>