
<li id="reportes">

	<a href="#" >
		<span>Reportes</span>
	</a>
	<ul class="rd-navbar-dropdown">
		
		<li id="id-reportes">
			<a>
				<a href="{{ url ('factura/reporte') }}">
					<span>Facturas</span>
				</a>

			</a>
		</li>

		
	</ul>


</li>


<li id="servicios">
	<a href="#">
		<span> Configuración</span>
	</a>
	<ul class="rd-navbar-dropdown">

			<li>
			<a >
				<a href="{{ url ('home/moneda/tasa') }}">
					<span>Tasa De Cambio</span>
				</a>

			</a>
		</li>
		

	</ul>

</li>





