<li> <a href="{{ url ('home') }}">
    <span>Página Inicio</span>
        
    </a>
    
</li>

<li>
    <a href="#"><span>Reportes</span>
        
    </a>
    <ul class="rd-navbar-dropdown">
        <li>
            <a href="{{ url ('paymentreport') }}">
                <span class="text-middle">Reporte de cobros</span>
              
            </a>
        </li>
    </ul>
</li>