<li>
    <a style="font-size: 13px !important;" href="{{ url ('reportes_reportes') }}">
        <span> Reportes</span>
    </a>
</li>
<li>
    <a style="font-size: 13px !important;" href="{{ url ('turismo_module_configuracion') }}">
        <span> Configuración</span>
    </a>
</li>

<li id="admin">
    <a href="#">
        <span> Publicidad</span>
    </a>
    <ul class="rd-navbar-dropdown">
        <li>
            <a href="{{ url ('publicidad') }}">
                <span class="text-middle">► Home</span>
            </a>
            <a href="{{ url ('publicidad/img/agencias') }}">
                <span class="text-middle">► IMG AGENCIAS</span>
            </a>
        </li>
    </ul>

</li>





