<li>

	<a href="#">
		<span>Reportes</span>
	</a>
	<ul class="rd-navbar-dropdown">

		<li>
			<a href="{{ url ('config') }}">
				<a href="{{ url ('paymentreport') }}">
					<span>Tarjetas</span>
				</a>

			</a>
		</li>
		<li>
			<a href="{{ url ('config') }}">
				<a href="{{ url ('paymentreport.buscar') }}">
					<span>Facturas</span>
				</a>

			</a>
		</li>

	</ul>


</li>
