{% extends 'contabilidad/config/index.html.twig' %}
{% block style %}
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        {# header #}
        <div class="d-flex align-items-center">
            <h4 class="mr-auto display-4 mb-0 mr-auto title-table text-light">
                Unidades de Medidas
            </h4>
        </div>
        {# end header #}


        {# list #}
        <table class="table-small-rows table table-hover text-light">
            <thead class="thead-dark">
            <th width="20px">#</th>
            <th scope="col-1" class="text-left">Nombre</th>
            <th scope="col-1" class="text-left">Abreviatura</th>
            </thead>
            <tbody>
            {% for item in unidad_medida %}
                <tr>
                    <td style="font-weight:400;">{{ item.id }}</td>
                    <td style="font-weight:400;">{{ item.nombre }}</td>
                    <td style="font-weight:400;">{{ item.abreviatura }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# end list #}
    </div>
{% endblock %}
