{% extends 'utils/modal_form.html.twig' %}
{% block modalbody %}
    {{ form_start(form,{'attr': {'class': 'text-left','id':'form_modal_target','method':'POST','autocomplete':"off"}}) }}
    <div class="form-group input-group input-group-sm d-block">
        <label for="centro_costo_codigo" class="font-weight-bold">Código</label>
        {{ form_widget(form.codigo,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <div class="form-group input-group input-group-sm d-block">
        <label for="centro_costo_nombre" class="font-weight-bold">Nombre</label>
        {{ form_widget(form.nombre,{'attr': {'class': 'form-control w-100'}}) }}
    </div>
    <input type="text" id="id_centro_costo" hidden>
    {{ form_end(form) }}
{% endblock %}